<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login required</title>
</head>
<body class="justify-center">
<form method="post" th:action="@{/login}">
    <h1 style="text-align: center; margin-bottom: 0.5rem;">登 录</h1>
    <div>
        <label for="username">用户名</label> <input type="text" id="username" name="username" required autofocus>
    </div>
    <div class="space-between mt">
        <label for="password">密 码</label> <input type="password" id="password" name="password" required>
    </div>
    <div class="justify-center mt">
        <button type="submit">登录</button>
    </div>
</form>
</body>

<style>
    .justify-center {
        display: flex;
        justify-content: center;
    }

    .mt {
        margin-top: 0.5rem;
    }

    .space-between {
        display: flex;
        justify-content: space-between;
    }
</style>
</html>